.intro{
    color: blue;
  }
  p{
    font-size: 25px;
    color:black;
  } 
  
  container{
    background-color: #a14d6d;
    
    width:100%;
    
  }
h2{
  color: blue;
}
  body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
}