<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes-App</title>
</head>
<body>
    <div class="container">
        <h1 >Quote-App.</h1>
        <p> application allow users to create quotes and have those quotes voted on whether they are <span class="intro">terrible or are inspirational</span>. 
          <div class="all-cards">

            <div *ngFor='let quote of quotes; let i = index ' class="card" style="width: 24rem;" >
    
              <div class="card-body">
              <li> {{quote.name}} {{quote.quote}} created at {{quote.completeDate|date}}</li>
    
              <button (click)='toggleDetails(i)' class="btn btn-info btn-sm" id="quotes-button">Read More</button>
    
    
    
                  <p appHighlightQuote *ngIf="loopVote()===quote.upvote && quote.upvote>0"> {{quote.quote}} </p>
                  <div>
    
                <p *ngIf="loopVote()!==quote.upvote || quote.upvote===0">
                  <p *ngIf="loopVote()!==quote.upvote || quote.downvote===0">
                </p>
    
    
              <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)' (isUp) = 'addTotal($event,i)' (isDown)='adTotal($event,i)'></app-quote-detail>
    
    
              </div>
              </div>
              </div>
    
            </div>
            
    
    
          <div class="col-md-6">
            <app-quote-form (addquotes)="addNewquote($event)"></app-quote-form>
          </div>
    
    
      
      </div>
    
    
    
      
      
</body>
</html>
